:root {
  background-color: rgb(255, 211, 229);
}

h3 {
  font-size: 30px;
  margin: 10px;
}

h4 {
  font-size: 28px;
}

h5 {
  font-size: 24px;
}



.header {
  background-image: url('./other-images/portfoliobackground.png');
  background-size: cover;
}


.navbar {
  background-color: rgb(248, 203, 160);
}

.headshot {
  max-width: 600px;
  max-height: 800px;
  float: right;
  margin: 35px;
}

.homeCard {
    max-width: 1000px;
    min-height: 300px;
    margin: auto;
    background-color: rgb(255, 232, 243);
    font-size: 18px;
    padding: 5px;
}

.aboutCard {
  max-width: 1000px;
  min-height: 400px;
  float: left;
  background-color: rgb(255, 232, 243);
  font-size: 18px;
  margin: 35px;
  padding: 5px;
}

.projectCard {
  max-width: 700px;
  max-height: 900px;
  margin: auto;
  background-color: blanchedalmond;
}

.projectContainer {
  flex: 1 0 auto;
  display: flex;
  flex-wrap: wrap;
  position: relative

}

.contact-card {
  max-width: 800px;
  margin: auto;
  background-color:  rgb(255, 232, 243);
}

.card-footer-item {
  background-color: rgb(252, 240, 246) ;
}

.contactForm {
  max-width: 800px;
  margin: auto;
  padding: 10px;

}

.footer {
  background-image: url('./other-images/portfoliobackground.png');
  background-size: cover;
  height: 75px;
  width: 100%;
  padding: 15px;
  position: sticky;
  bottom: 0;
}

.footer a {
  padding: 15px;
}
