:root {
  background-color: rgb(255, 211, 229);
}

.header {
  background-image: url('./other-images/portfoliobackground.png');
  background-size: cover;
}

.footer {
  background-image: url('./other-images/portfoliobackground.png');
  background-size: cover;
  width: 100%;
  height: 100px;
  position: fixed;
  bottom: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.headshot {
  max-width: 600px;
  max-height: 800px;
}

